/* .headline1 {
    color: black;
    font-size: 18px;
}
.textline{
    color:green;
    font-size: 20px;

}
.blink {
  width: 220px;
  height: 50px;
  background-color: #342ab8;
  padding: 10px;
  text-align: center;
  line-height: 50px;
}
span {
  font-size: 26px;
  font-family: cursive;
  color: #fff;
  animation: blink 2s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
} */

body {
    background-image: url("OIP.jpg");
    background-size: cover;
}